**/*.gprj.user
**/impl/gwsynthesis
**/impl/pnr
**/impl/temp
**/*.X/nbproject/Makefile-*
**/*.X/nbproject/Package-default.bash
**/*.X/nbproject/private
**/*.X/build
**/*.X/dist
**/*.X/disassembly
/.metadata
/ch32v003fun_projects/env.mk
/ch32v003fun_projects/*/*.bin
/ch32v003fun_projects/*/*.elf
/ch32v003fun_projects/*/*.hex
/ch32v003fun_projects/*/*.lst
/ch32v003fun_projects/*/*.lst.*
/ch32v003fun_projects/*/*.map
